{% extends 'base.html.twig' %}

{% block title %}A toi de jouer !{% endblock %}

{% block body %}
<section class="play-index">
    <div class="logo">
        <h1>QUI EST-CE?</h1>
    </div>
    <div class="score">
        <button>123</button>
    </div>
    <div class="portrait"></div>
    <div class="bubble">

    </div>
    <div class="choices">
        <button>Indices</button><br>
        <button>Question1</button><br>
        <button>Question2</button><br>
        <button>Question3</button><br>
    </div>
    <div class="input">
        <input type="text" placeholder="Entre ta réponse ici">
        <input type="submit">
    </div>
    <h5>Abandonner ?</h5>
</section>
{% endblock %}
