<form method="post" action="{{ path('reset_score') }}" onsubmit="return confirm('Réinitialiser le score ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('reset') }}">
    <button id="reset" class="btn btn-danger">Réinitialiser</button>
</form>
