{% extends 'base.html.twig' %}

{% block title %}Qui est-ce ? Wilders edition{% endblock %}

{% block body %}
<section class="home">
    <div id="instr" class="instructions">
        <img src="{{ asset('build/images/logo.png') }}">
        <h4>Bonne réponse = 100pts</h4>
        <h4>Une réponse à une question fait perdre 10pts</h4>
        <h4>Un indice fait perdre 20pts</h4>
        <h4>Une mauvaise réponse fait perdre 30pts</h4>
        <button id="back">Retour</button>
    </div>
    
    <div class="logo">
        <img src="{{ asset('build/images/logo.png') }}">
    </div>
    <div class="score">
        <h3>{{ score }}</h3>
    </div>
    <div class="navigation">
        <a href="/play">
            <button id="play">Jouer</button>
        </a>
        <button id="instructions">Instructions</button>
        {% include "game/_reset_form.html.twig" %}
    </div>
</section>


{% endblock %}
