{% extends 'base.html.twig' %}

{% block title %}New Clues{% endblock %}

{% block body %}
    <h1>Create new Clues</h1>

    {{ include('clues/_form.html.twig') }}

    <a href="{{ path('clues_index') }}">back to list</a>
{% endblock %}
