section.home {
    .instructions {
        position: absolute;
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        height: 60%;
        width: 80%;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border: 6px solid rgb(117, 26, 33);
        border-radius: 5px;
        text-align: center;
        img {
            width: 10rem;
            margin: 2rem 0;
        }
        button {
            margin-top: 2rem;
            width: 14rem;
            height: 3rem;
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
            font-weight: bolder;
            border: 3px solid black;
            border-radius: 4px;
            background-color: rgb(23, 56, 117);
            color: white;
        }
    }
    .logo {
        text-align: center;
        padding-top: 10.5rem;
        img {
            width: 18rem;
            margin: 0 auto;
        }
    }
    .score {
        margin: 0 auto;
        text-align: center;
        background-color: #FFD600;
        font-size: 1.5rem;
        width: 6rem;
        color: white;
        outline: 3px solid black;
        border-radius: 5px;
        h3 {
        text-align: center;
        text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
        margin-bottom: 3rem;
        }
    }
    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        button {
            width: 14rem;
            height: 3rem;
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
            font-weight: bolder;
            border: 3px solid black;
            border-radius: 4px;
        }
        #play {
            background-color: rgb(190, 30, 30);
            color: white;
        }
        #instructions {
            background-color: rgb(46, 96, 172);
            color: white;
        }
    }
}